*{
    box-sizing: border-box;
}

html , .portfolio-imtem-text{
    font-family: 'PT Sans Caption', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    min-width: 280px;
}

img{
    display: inline-block;
}

a{
    transition: 0.2s ease-out;
}
/* ====================
GRID
==================== */ 

.container{
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.row:after{
    clear: both;
    content: "";
    display: table;
}

.col-4{
    width: 360px;
    margin-right: 30px;
    float: left;
}

.col-4:last-child{
    margin-right: 0px;
}
/* ====================
HEADER
==================== */

.header{
    background: #343c4e;
    background-image: url("../img/bg/bg-header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    height: 100vh;
    
    color: #FFF;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    position: relative;
}

.header_title{
    font-size: 56px;
    line-height: 62px;
    margin-bottom: 30px;
    font-family: 'Merriweather', serif;
    margin-top: -50px;
}

.header_slogan{
    font-size: 28px;
    line-height: 42px;
}

.header_arrow{
    width: 60px;
    height: 50px;
    margin-left: -30px;
    font-size: 48px;
    position: absolute;
    bottom: 50px;
    left:50%;
}

/* ====================
PORTFOLIO
==================== */

.title{
    font-size: 46px;
    margin-bottom: 60px;
    font-family: 'Merriweather', serif;
    text-align: center;
}

.portfolio-imtem-image{
    margin-bottom: 17px;
}

.portfolio-imtem-image img{
    max-width: 100%;
    height: auto;
}

.portfolio-imtem-title{
    font-size: 24px;
    line-height: normal;
    margin-bottom: 5px;
}

.portfolio{
    padding-top: 70px;
    padding-bottom: 100px;
}

.portfolio-item{
    margin-bottom: 20px;
}

.portfolio-imtem-title a{
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #FFF;
}

.portfolio-imtem-title a:hover{
    color: #0052C2;
    border-color: rgba(0,82,194,0.3)
}

.portfolio-item-text p{
    margin-top: 0px;
    margin-bottom: 15px;
}

/* ====================
PORTFOLIO SINGLE PAGE
==================== */

.portfolio-single-page{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.portfolio-single-page img{
    margin-bottom: 50px;
    max-width: 100%;
    height: auto;
}

.button-back{
    font-weight: 700;
    display: inline-block;
    border-width: 2px;
    border-color: #0052C2;
    border-style: solid;
    border-radius: 50px;
    text-decoration: none;
    color: #0052C2;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 23px;
    padding-right: 23px;
    margin-bottom: 13px;
    transition: 0.2s ease-out;
}

.button-back:hover{
    color: #FFF;
    background-color: #0052C2;
}

/* ====================
FOOTER
==================== */

.footer{
    background-color: #061634;
    color: #6479a2;
    padding-top: 90px;
    padding-bottom: 190px;
}

.footer p{
    margin-top: 0px;
    margin-bottom: 15px;
}

p.footer-name{
    font-size: 28px;
    margin-bottom: 10px;
    line-height: normal;
    font-family: 'Merriweather', serif;
}

p.footer-social{
    color:#FFF;
}

p.footer-social-icons{
    color: #FFF;
    font-size: 32px;
}

p.footer-social-icons a{
    color: #FFF;
    text-decoration: none;
    margin-right: 30px;
}

p.footer-social-icons a:last-child{
    margin-right: 0px;
}

p.footer-social-icons a:hover{
    color: #FFE400;
}

.button{
    font-weight: 700;
    display: inline-block;
    border-width: 2px;
    border-color: #FFF;
    border-style: solid;
    border-radius: 50px;
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 23px;
    padding-right: 23px;
    margin-bottom: 13px;
    transition: 0.2s ease-out;
}

.button:hover{
    color: #061634;
    background-color: #FFF;
}

/* ====================
MEDIA
==================== */
/* При ширине экрана 1160 и менее будет выполнен запрос */
@media (max-width:1160px){
    
    .container{
        width: 100%;
    }
    
    .col-4{
        width: 100%;
        margin: 0;
        margin-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }
    
    .header-title{
        font-size: 38px;
        line-height: 48px;
        margin-bottom: 15px;
    }
    
    .header-slogan{
        font-size: 22px;
        line-height: 38px;
    }
    
    .portfolio{
        padding-top: 40px;
        padding-bottom: 50px;
    }
    
    .title{
        font-size: 36px;
    }
    
    .footer{
        padding-top: 70px;
        padding-bottom: 60px;
    }
    
    .header{
        padding-left: 15px;
        padding-right: 15px;
    }
    
}